In [65]:
import pandas as pd
import numpy as np
import warnings
import os
from typing import Tuple
import json
from data_prep_utils import color_classifier, test_color_mapping, print_color_comparison, CatColorImputer, impute_coat_from_breed, create_metadata_table

warnings.filterwarnings("ignore")

# Show all columns in pandas display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_colwidth', None) # show full content of each cell (no truncation)

DATE_STR = '2025-08-11'

In [66]:
## MAIN PREPROCESSING FUNCTION

def preprocess_cats_data(
        data_type: str,
        directory: str,
        file_name: str,
        output_file_name: str = None ) -> pd.DataFrame:

    """
    Preprocesses cat data for adoptable or adopted cats.

    Parameters:
    - data_type (str): adoptable or adopted
    - directory (str): The directory where the input file is located.
    - file_name (str): The name of the input CSV file.
    - output_file_name (str, optional): The name of the output CSV file to save the processed data.

    Returns:
    - pd.DataFrame: The processed DataFrame.
    """

    print(f"Starting preprocessing of '{data_type}' cat data ₍^. .^₎⟆ ...\n")

    # Load data
    df = pd.read_csv(os.path.join(directory, file_name))
    print(f"✓ Data loaded successfully from {os.path.join(directory, file_name)}. Shape: {df.shape}")

    # Convert date columns to datetime
    df['published_at'] = pd.to_datetime(df['published_at'])
    df['status_changed_at'] = pd.to_datetime(df['status_changed_at'])
    df['published_year'] = df['published_at'].dt.year
    print("✓ Date columns converted successfully.")

    # Data type specific steps
    if data_type == 'adoptable':
        
        # Handle midnight times for adoptable cats
        df['accessed_utc'] = pd.to_datetime(df['accessed'], format='mixed', utc=True)
        midnight_mask = df['accessed_utc'].dt.time == pd.Timestamp('00:00:00').time()
        df.loc[midnight_mask, 'accessed_utc'] = (
            df.loc[midnight_mask, 'accessed_utc'].dt.normalize() +
            pd.Timedelta(hours=23, minutes=59, seconds=59)
        )

        # Calculate time difference
        df['adopted_year'] = df['status_changed_at'].dt.year
        df['days_in_shelter'] = (df['accessed_utc'] - df['published_at']).dt.days
        print('✓ `days_in_shelter` column calculated successfully.')

        # Filter negative `days_in_shelter`
        df = df[df['days_in_shelter'] >= 0].reset_index(drop=True)
        print(f"✓ Drop samples with negative `days_in_shelter` value, data shape: {df.shape}")

    else:
        # Filter data before 2020
        df = df[df['published_year'] > 2019]
        print(f"✓ Filtered adopted cats published before 2020, data shape: {df.shape}")

        # Calculate time difference
        df['days_to_adopt'] = (df['status_changed_at'] - df['published_at']).dt.days
        print(f"✓ `days_to_adopt` column calculated successfully.")

        # Filter negative `days_to_adopt`
        df = df[df['days_to_adopt'] >= 0]
        df = df.reset_index(drop=True)
        print(f"✓ Drop samples with negative `days_to_adopt` value, data shape: {df.shape}")


    # Impute coat from breed column
    df['coat'] = df['breeds_primary'].apply(impute_coat_from_breed)
    print("✓ Coat length (short, medium, long, medium) successfully imputed from primary breed column.")

    # Replace null values with 'Unknown' to capture missing info provided on listing by publisher
    df['env_children'] = np.where(df['env_children'].isna(), 'Unknown', df['env_children'])
    df['env_dogs'] = np.where(df['env_dogs'].isna(), 'Unknown', df['env_dogs'])
    df['env_cats'] = np.where(df['env_cats'].isna(), 'Unknown', df['env_cats'])
    df['is_character_provided'] = ~df['tags'].isna()
    print("✓ Replace null values with 'Unknown' to capture missing info provided on listing by publisher.")

    # Standardize and augment color categories
    df['color_str'] = df[['colors_primary', 'colors_secondary', 'colors_tertiary']].fillna('').apply(
        lambda x: ' | '.join(filter(None, x)), axis=1
    )
    df['cleaned_color'] = df['color_str'].apply(color_classifier)
    df['cleaned_color'] = df['cleaned_color'].replace('', np.nan)
    print("✓ Color categories standardized successfully considering primary, secondary and tertiary colors.")

    # Impute color based on description
    imputer = CatColorImputer()
    results_json, _ = imputer.validate_imputation(df=df, test_fraction=0.5)

    # Create imputed color column
    df['imputed_color'] = df.apply(
        lambda row: imputer.extract_color_from_description(row['description'])
        if pd.isna(row['cleaned_color']) else row['cleaned_color'],
        axis=1
    )

    # Number of colors imputed
    imputed_count = int(df['cleaned_color'].isna().sum() - df['imputed_color'].isna().sum())
    print(f"✓ {imputed_count}/{df['cleaned_color'].isna().sum()} cats without colour initially have been imputed.")

    # Derive final color (standardized + imputed)
    df['color'] = np.where(
        df['cleaned_color'].isna(),
        df['imputed_color'],
        df['cleaned_color']
    )
    df['color'] = np.where(df['color'].isna(), 'Unknown', df['color'])
    print("✓ Final color column derived from cleaned and imputed colours successfully.")

    # Derive other useful other features
    color_cat_mapping = {
        'Black': ['Black', 'Black & White / Tuxedo'],
        'Brown / Chocolate': ['Tabby (Brown / Chocolate)', 'Brown / Chocolate', 'Brown & White'],
        'Gray / Blue / Silver': ['Tabby (Gray / Blue / Silver)', 'Gray / Blue / Silver', 'Gray & White', 'Blue Cream', 'Smoke'],
        'Orange / Red': ['Tabby (Orange / Red)', 'Orange / Red', 'Orange & White'],
        'White / Cream': ['White', 'Cream / Ivory', 'White / Cream', 'Buff & White', 'Tabby (Buff / Tan / Fawn)', 'Buff / Tan / Fawn'],
        'Calico / Tortie': ['Calico', 'Dilute Calico', 'Tortoiseshell', 'Dilute Tortoiseshell', 'Torbie'],
        'Point Colors': ['Seal Point', 'Lilac Point', 'Cream Point', 'Flame Point', 'Blue Point', 'Chocolate Point'],
        'Special Patterns': ['Tabby (Tiger Striped)', 'Tabby (Leopard / Spotted)']
    }
    reverse_mapping = {}
    for category, colors in color_cat_mapping.items():
        for color in colors:
            reverse_mapping[color] = category
    df['color_category'] = df['color'].map(reverse_mapping)
    df['color_category'] = np.where(df['color_category'].isna(), 'Unknown', df['color_category'])
    print("✓ Broader colour categories created from final color successfully.")

    # Drop unnecessary columns
    COLS_TO_DROP = ['type', 'species', 'distance', 'color_str']
    df = df.drop(columns=COLS_TO_DROP)
    df = df.reset_index(drop=True)
    print("✓ Dropped unnecessary columns - 'type', 'species', 'distance', 'color_str'.")

    # Save processed data to CSV if output file name is provided
    if output_file_name:
        df.to_csv(os.path.join(directory, output_file_name), index=False)
        print(f"✓ Processed data saved successfully to: {os.path.join(directory, output_file_name)}.")

    print("\nPreprocessing completed  ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧ ")


    # print('\nColour cleaning logs:\n')

    # print('\n------------ Colour Standardisation Mapping ------------')
    # test_color_mapping(df)
    print('\n------------ Colour Imputer Test Results ------------')
    print(json.dumps(results_json, indent=4))
    print("\n------------  Colour Distribution Comparison ------------")
    print_color_comparison(df, original_col_to_compare='colors_primary')
    return df

In [49]:
# read processed datasets into memory if already exists
# directory = os.path.join('cat', DATE_STR, 'adoptable')
# adoptable_cats = pd.read_csv(directory + '/processed_adoptable_cats.csv')

# directory = os.path.join('cat', DATE_STR, 'adopted')
# adopted_cats = pd.read_csv(directory + '/processed_adopted_cats.csv')

## Adopted Cats

In [67]:
directory = os.path.join('cat', DATE_STR, 'adopted')
adopted_cats = preprocess_cats_data(
    data_type = 'adopted',
    directory=directory,
    file_name='all_adopted_cats.csv',
    output_file_name='processed_adopted_cats.csv',
)

Starting preprocessing of 'adopted' cat data ₍^. .^₎⟆ ...

✓ Data loaded successfully from cat/2025-08-11/adopted/all_adopted_cats.csv. Shape: (872490, 45)
✓ Date columns converted successfully.
✓ Filtered adopted cats published before 2020, data shape: (841778, 46)
✓ `days_to_adopt` column calculated successfully.
✓ Drop samples with negative `days_to_adopt` value, data shape: (841776, 47)
✓ Coat length (short, medium, long, medium) successfully imputed from primary breed column.
✓ Replace null values with 'Unknown' to capture missing info provided on listing by publisher.
✓ Color categories standardized successfully considering primary, secondary and tertiary colors.
✓ 22742/211760 cats without colour initially have been imputed.
✓ Final color column derived from cleaned and imputed colours successfully.
✓ Broader colour categories created from final color successfully.
✓ Dropped unnecessary columns - 'type', 'species', 'distance', 'color_str'.
✓ Processed data saved successfully to: cat/2025-08-11/adopted/processed_adopted_cats.csv.

Preprocessing completed  ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧

------------ Colour Imputer Test Results ------------
{
    "overall_accuracy": 0.6040150976423609,
    "total_tested": 100000,
    "total_predicted": 18281,
    "method_accuracies": {
        "description": 0.6040150976423609
    },
    "color_accuracies": {
        "Black": 0.8136363636363636,
        "Buff & White": 0.12437810945273632,
        "Gray & White": 0.35408163265306125,
        "Calico": 0.8371723590150913,
        "Dilute Calico": 0.4984984984984985,
        "Black & White / Tuxedo": 0.7759053424166368,
        "Dilute Tortoiseshell": 0.4297872340425532,
        "Tabby (Brown / Chocolate)": 0.49478079331941544,
        "Gray / Blue / Silver": 0.7090909090909091,
        "Tabby (Gray / Blue / Silver)": 0.5706845238095238,
        "Tabby (Leopard / Spotted)": 0.22727272727272727,
        "Torbie": 0.5907473309608541,
        "Tabby (Orange / Red)": 0.578408195429472,
        "White": 0.5595854922279793,
        "Tabby (Tiger Striped)": 0.04573170731707317,
        "Tortoiseshell": 0.8211462450592886,
        "Flame Point": 0.6855345911949685,
        "Lilac Point": 0.4807692307692308,
        "Tabby (Buff / Tan / Fawn)": 0.0990990990990991,
        "Orange & White": 0.30078125,
        "Smoke": 0.19298245614035087,
        "Seal Point": 0.576271186440678,
        "Buff / Tan / Fawn": 0.31155778894472363,
        "Orange / Red": 0.5476190476190477,
        "Brown / Chocolate": 0.24427480916030533,
        "Brown & White": 0.0,
        "Chocolate Point": 0.3548387096774194,
        "Cream Point": 0.0,
        "Cream / Ivory": 0.023809523809523808,
        "Blue Point": 0.18181818181818182,
        "Blue Cream": 0.0
    }
}

------------  Colour Distribution Comparison ------------
Color Distribution Comparison: colors_primary vs Cleaned vs After Imputation
========================================================================================================================
Color                          Original Count  Original %   Cleaned Count   Cleaned %    Final Count (after impute) Final %
------------------------------------------------------------------------------------------------------------------------
Unknown                        0               0.0          0               0.0          189018                    22.5
Black & White / Tuxedo         75914           12.1         94236           15.0         96924                     11.5
Black                          104051          16.6         81288           12.9         84404                     10.0
Tabby (Brown / Chocolate)      71219           11.3         76613           12.2         77811                     9.2
Tabby (Gray / Blue / Silver)   45326           7.2          51806           8.2          53074                     6.3
Gray & White                   38787           6.2          39994           6.3          40569                     4.8
Gray / Blue / Silver           39681           6.3          34163           5.4          36361                     4.3
Tabby (Orange / Red)           26687           4.2          33365           5.3          34818                     4.1
Calico                         27897           4.4          29371           4.7          31487                     3.7
Orange & White                 29465           4.7          27945           4.4          28581                     3.4
Tortoiseshell                  21965           3.5          23226           3.7          24647                     2.9
Tabby (Buff / Tan / Fawn)      20774           3.3          22477           3.6          22614                     2.7
Tabby (Tiger Striped)          16632           2.6          19542           3.1          19609                     2.3
Orange / Red                   17275           2.7          12798           2.0          14536                     1.7
White                          19379           3.1          9249            1.5          10926                     1.3
Dilute Calico                  8455            1.3          10050           1.6          10328                     1.2
Torbie                         8120            1.3          9396            1.5          9625                      1.1
Buff / Tan / Fawn              9775            1.6          7326            1.2          7661                      0.9
Dilute Tortoiseshell           6922            1.1          7476            1.2          7638                      0.9
Brown / Chocolate              12395           2.0          6869            1.1          7272                      0.9
Buff & White                   6026            1.0          7017            1.1          7074                      0.8
Seal Point                     4108            0.7          4876            0.8          5015                      0.6
Flame Point                    2452            0.4          2795            0.4          2913                      0.3
Brown & White                  0               0.0          2759            0.4          2759                      0.3
Cream / Ivory                  4168            0.7          2211            0.4          2452                      0.3
Blue Point                     1789            0.3          2387            0.4          2405                      0.3
Chocolate Point                1940            0.3          2361            0.4          2387                      0.3
Tabby (Leopard / Spotted)      1971            0.3          2100            0.3          2286                      0.3
Smoke                          1114            0.2          1802            0.3          2040                      0.2
Lilac Point                    1524            0.2          1941            0.3          1962                      0.2
Cream Point                    1258            0.2          1741            0.3          1744                      0.2
Blue Cream                     1329            0.2          836             0.1          836                       0.1

In [68]:
adopted_cols_metadata = create_metadata_table(adopted_cats)
display(adopted_cols_metadata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 841776 entries, 0 to 841775
Data columns (total 49 columns):
Memory usage: 2077214375 bytes

Detailed Metadata:

,Column,Non-Null Count,Null Count,Dtype,Category,Values/Range
0,id,841776,0,int64,Numerical,"[37300481, 77730279]"
1,org_id,841776,0,object,Categorical,3859 unique values
2,url,841776,0,object,Categorical,841776 unique values
3,age,841776,0,object,Categorical,"['Young', 'Adult', 'Baby', 'Senior']"
4,gender,841776,0,object,Categorical,"['Male', 'Female']"
5,size,841776,0,object,Categorical,"['Medium', 'Small', 'Large', 'Extra Large']"
6,coat,841776,0,object,Categorical,"['Short', 'Unknown', 'Medium', 'Long', 'Hairless']"
7,name,841764,12,object,Categorical,227116 unique values
8,description,734673,107103,object,Categorical,628042 unique values
9,status,841776,0,object,Categorical,['adopted']
10,status_changed_at,841776,0,"datetime64[ns, UTC]",Datetime,"[2020-01-01 16:46:51+00:00, 2025-08-11 10:48:33+00:00]"
11,published_at,841776,0,"datetime64[ns, UTC]",Datetime,"[2020-01-01 00:09:02+00:00, 2025-08-11 10:16:34+00:00]"
12,breeds_primary,841773,3,object,Categorical,73 unique values
13,breeds_secondary,110865,730911,object,Categorical,72 unique values
14,breeds_mixed,841776,0,bool,Numerical,"[False, True]"
15,breeds_unknown,841776,0,bool,Numerical,"[False, True]"
16,colors_primary,628398,213378,object,Categorical,"['Tabby (Gray / Blue / Silver)', 'Dilute Tortoiseshell', 'Black', 'Seal Point', 'Calico', 'Black & White / Tuxedo', 'Tabby (Orange / Red)', 'Tabby (Brown / Chocolate)', 'Tabby (Buff / Tan / Fawn)', 'Dilute Calico', 'Gray / Blue / Silver', 'White', 'Lilac Point', 'Gray & White', 'Buff / Tan / Fawn', 'Brown / Chocolate', 'Tortoiseshell', 'Orange & White', 'Orange / Red', 'Chocolate Point', 'Cream Point', 'Flame Point', 'Torbie', 'Tabby (Tiger Striped)', 'Buff & White', 'Blue Point', 'Blue Cream', 'Cream / Ivory', 'Tabby (Leopard / Spotted)', 'Smoke']"
17,colors_secondary,157238,684538,object,Categorical,"['White', 'Blue Point', 'Black & White / Tuxedo', 'Buff & White', 'Tabby (Gray / Blue / Silver)', 'Gray / Blue / Silver', 'Tabby (Buff / Tan / Fawn)', 'Tabby (Orange / Red)', 'Smoke', 'Orange / Red', 'Black', 'Tabby (Tiger Striped)', 'Cream / Ivory', 'Tabby (Brown / Chocolate)', 'Flame Point', 'Calico', 'Gray & White', 'Orange & White', 'Torbie', 'Dilute Calico', 'Buff / Tan / Fawn', 'Cream Point', 'Blue Cream', 'Brown / Chocolate', 'Tabby (Leopard / Spotted)', 'Tortoiseshell', 'Dilute Tortoiseshell', 'Lilac Point', 'Seal Point', 'Chocolate Point']"
18,colors_tertiary,34708,807068,object,Categorical,"['Tabby (Buff / Tan / Fawn)', 'Buff / Tan / Fawn', 'Tabby (Orange / Red)', 'Tabby (Gray / Blue / Silver)', 'Tabby (Brown / Chocolate)', 'White', 'Cream / Ivory', 'Gray & White', 'Black', 'Buff & White', 'Gray / Blue / Silver', 'Tabby (Leopard / Spotted)', 'Calico', 'Brown / Chocolate', 'Orange & White', 'Lilac Point', 'Dilute Calico', 'Orange / Red', 'Tabby (Tiger Striped)', 'Chocolate Point', 'Tortoiseshell', 'Blue Point', 'Flame Point', 'Seal Point', 'Black & White / Tuxedo', 'Dilute Tortoiseshell', 'Torbie', 'Smoke', 'Blue Cream', 'Cream Point']"
19,spayed_neutered,841776,0,bool,Numerical,"[False, True]"
20,house_trained,841776,0,bool,Numerical,"[False, True]"
21,declawed,841776,0,bool,Numerical,"[False, True]"
22,special_needs,841776,0,bool,Numerical,"[False, True]"
23,shots_current,841776,0,bool,Numerical,"[False, True]"
24,env_children,841776,0,object,Categorical,"[True, 'Unknown', False]"
25,env_dogs,841776,0,object,Categorical,"[True, 'Unknown', False]"
26,env_cats,841776,0,object,Categorical,"[True, 'Unknown', False]"
27,contact_email,818720,23056,object,Categorical,4940 unique values
28,contact_phone,629884,211892,object,Categorical,3658 unique values
29,contact_address1,476345,365431,object,Categorical,1677 unique values
30,contact_address2,69839,771937,object,Categorical,227 unique values
31,contact_city,841776,0,object,Categorical,2437 unique values
32,contact_state,841776,0,object,Categorical,"['NV', 'CA', 'MO', 'MN', 'WI', 'OR', 'AZ', 'WY', 'ME', 'NB', 'CT', 'MA', 'RI', 'NY', 'NH', 'VT', 'DE', 'VA', 'DC', 'PA', 'MD', 'WV', 'NJ', 'NC', 'IL', 'IN', 'SD', 'QC', 'SC', 'GA', 'UT', 'WA', 'TN', 'AL', 'KY', 'OK', 'IA', 'MI', 'NM', 'AK', 'HI', 'LA', 'FL', 'MS', 'KS', 'OH', 'ID', 'MT', 'TX', 'CO', 'AR', 'NE', 'ND']"
33,contact_postcode,841766,10,object,Categorical,3875 unique values
34,contact_country,841776,0,object,Categorical,"['US', 'CA']"
35,photo_count,841776,0,int64,Numerical,"[0, 23]"
36,photo,798019,43757,object,Categorical,798019 unique values
37,primary_photo_cropped,796718,45058,object,Categorical,796718 unique values
38,tags,419435,422341,object,Categorical,131223 unique values
39,stateQ,841776,0,object,Categorical,63 unique values
40,accessed,841776,0,object,Categorical,841750 unique values
41,stateQ_grouped,841776,0,object,Categorical,"['NV', 'MO', 'MN', 'OR', 'WY', 'ME', 'RI', 'MD', 'VA', 'IL', 'NJ', 'CA', 'SD', 'CT', 'VT', 'PA', 'SC', 'WA', 'NY', 'TN', 'OK', 'IA', 'MI', 'NM', 'AZ', 'AK', 'HI', 'LA', 'FL', 'MS', 'DE', 'KS', 'IN', 'NH', 'ID', 'KY', 'GA', 'NC', 'DC', 'MA', 'TX', 'WV', 'CO', 'AR', 'NE', 'ND', 'AL', 'MT', 'OH', 'WI', 'UT']"
42,published_year,841776,0,int32,Numerical,"[2020, 2025]"
43,days_to_adopt,841776,0,int64,Numerical,"[0, 1991]"
44,is_character_provided,841776,0,bool,Numerical,"[False, True]"
45,cleaned_color,630016,211760,object,Categorical,"['Tabby (Gray / Blue / Silver)', 'Dilute Tortoiseshell', 'Black', 'Seal Point', 'Calico', 'Black & White / Tuxedo', 'Tabby (Orange / Red)', 'Tabby (Brown / Chocolate)', 'Tabby (Buff / Tan / Fawn)', 'Dilute Calico', 'Gray / Blue / Silver', 'White', 'Lilac Point', 'Gray & White', 'Buff / Tan / Fawn', 'Brown & White', 'Tortoiseshell', 'Orange & White', 'Orange / Red', 'Chocolate Point', 'Cream Point', 'Smoke', 'Flame Point', 'Tabby (Tiger Striped)', 'Torbie', 'Buff & White', 'Brown / Chocolate', 'Blue Point', 'Blue Cream', 'Cream / Ivory', 'Tabby (Leopard / Spotted)']"
46,imputed_color,652758,189018,object,Categorical,"['Tabby (Gray / Blue / Silver)', 'Dilute Tortoiseshell', 'Black', 'Seal Point', 'Calico', 'Black & White / Tuxedo', 'Tabby (Orange / Red)', 'Tabby (Brown / Chocolate)', 'Tabby (Buff / Tan / Fawn)', 'Dilute Calico', 'Gray / Blue / Silver', 'White', 'Lilac Point', 'Gray & White', 'Buff / Tan / Fawn', 'Brown & White', 'Tortoiseshell', 'Orange & White', 'Orange / Red', 'Chocolate Point', 'Cream Point', 'Smoke', 'Flame Point', 'Tabby (Tiger Striped)', 'Tabby (Leopard / Spotted)', 'Torbie', 'Buff & White', 'Brown / Chocolate', 'Blue Point', 'Blue Cream', 'Cream / Ivory']"
47,color,841776,0,object,Categorical,"['Tabby (Gray / Blue / Silver)', 'Dilute Tortoiseshell', 'Black', 'Seal Point', 'Calico', 'Unknown', 'Black & White / Tuxedo', 'Tabby (Orange / Red)', 'Tabby (Brown / Chocolate)', 'Tabby (Buff / Tan / Fawn)', 'Dilute Calico', 'Gray / Blue / Silver', 'White', 'Lilac Point', 'Gray & White', 'Buff / Tan / Fawn', 'Brown & White', 'Tortoiseshell', 'Orange & White', 'Orange / Red', 'Chocolate Point', 'Cream Point', 'Smoke', 'Flame Point', 'Tabby (Tiger Striped)', 'Tabby (Leopard / Spotted)', 'Torbie', 'Buff & White', 'Brown / Chocolate', 'Blue Point', 'Blue Cream', 'Cream / Ivory']"
48,color_category,841776,0,object,Categorical,"['Gray / Blue / Silver', 'Calico / Tortie', 'Black', 'Point Colors', 'Unknown', 'Orange / Red', 'Brown / Chocolate', 'White / Cream', 'Special Patterns']"

In [69]:
adopted_cats.groupby('color_category')['days_to_adopt'].describe().sort_values(by='count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
color_category,,,,,,,,
Unknown,189018.0,30.532288,83.784830,0.0,0.0,4.0,27.0,1900.0
Black,181328.0,53.122127,103.056453,0.0,7.0,21.0,54.0,1991.0
Gray / Blue / Silver,132880.0,46.894484,95.844257,0.0,6.0,18.0,47.0,1933.0
Brown / Chocolate,87842.0,49.618007,98.572781,0.0,7.0,19.0,50.0,1930.0
Calico / Tortie,83725.0,49.890917,100.476085,0.0,7.0,19.0,49.0,1900.0
Orange / Red,77935.0,45.034785,94.750007,0.0,6.0,17.0,44.0,1798.0
White / Cream,50727.0,49.118260,98.805363,0.0,6.0,19.0,49.0,1905.0
Special Patterns,21895.0,51.395707,102.268493,0.0,7.0,19.0,50.0,1464.0
Point Colors,16426.0,33.744003,75.927987,0.0,5.0,12.0,31.0,1449.0

In [70]:
adopted_cats.groupby('color')['days_to_adopt'].describe().sort_values(by='count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
color,,,,,,,,
Unknown,189018.0,30.532288,83.784830,0.0,0.0,4.0,27.0,1900.0
Black & White / Tuxedo,96924.0,55.096581,106.793306,0.0,8.0,22.0,56.0,1917.0
Black,84404.0,50.854794,98.542585,0.0,7.0,20.0,52.0,1991.0
Tabby (Brown / Chocolate),77811.0,49.626300,97.817045,0.0,7.0,19.0,50.0,1930.0
Tabby (Gray / Blue / Silver),53074.0,48.925745,96.486610,0.0,7.0,20.0,50.0,1862.0
Gray & White,40569.0,48.561611,98.853274,0.0,6.0,18.0,48.0,1668.0
Gray / Blue / Silver,36361.0,42.498749,91.548131,0.0,5.0,16.0,41.0,1933.0
Tabby (Orange / Red),34818.0,42.083922,87.647045,0.0,6.0,16.0,42.0,1760.0
Calico,31487.0,48.756312,98.894599,0.0,7.0,19.0,49.0,1701.0
Orange & White,28581.0,47.388650,98.314414,0.0,6.0,18.0,47.0,1798.0
Tortoiseshell,24647.0,50.244208,100.873569,0.0,7.0,20.0,50.0,1900.0
Tabby (Buff / Tan / Fawn),22614.0,52.118068,99.550748,0.0,7.0,21.0,54.0,1905.0
Tabby (Tiger Striped),19609.0,52.631955,103.482106,0.0,7.0,20.0,52.0,1464.0
Orange / Red,14536.0,47.474752,103.398941,0.0,6.0,17.0,46.0,1662.0
White,10926.0,49.086674,101.923306,0.0,6.0,17.0,48.0,1484.0
Dilute Calico,10328.0,49.952556,101.154556,0.0,7.0,19.0,48.0,1777.0
Torbie,9625.0,51.521455,106.328960,0.0,7.0,19.0,50.0,1754.0
Buff / Tan / Fawn,7661.0,46.704347,96.366405,0.0,6.0,17.0,45.0,1491.0
Dilute Tortoiseshell,7638.0,51.290128,97.062076,0.0,7.0,21.0,53.0,1494.0
Brown / Chocolate,7272.0,51.077558,108.803400,0.0,6.0,17.0,48.0,1632.0
Buff & White,7074.0,46.678965,98.886966,0.0,6.0,17.0,44.0,1350.0
Seal Point,5015.0,30.341974,66.927251,0.0,4.0,11.0,29.0,1299.0
Flame Point,2913.0,33.327154,70.640373,0.0,5.0,13.0,33.0,1449.0
Brown & White,2759.0,45.537151,91.079215,0.0,6.0,16.0,44.0,1262.0
Cream / Ivory,2452.0,36.172104,82.338871,0.0,4.0,13.0,35.0,1279.0
Blue Point,2405.0,35.148857,80.100454,0.0,5.0,12.0,32.0,1356.0
Chocolate Point,2387.0,38.565982,90.139745,0.0,4.0,11.0,32.0,1088.0
Tabby (Leopard / Spotted),2286.0,40.791339,90.526622,0.0,6.0,12.0,35.0,1060.0
Smoke,2040.0,44.449510,98.387651,0.0,6.0,16.0,42.0,1614.0
Lilac Point,1962.0,32.829766,74.635928,0.0,4.0,12.0,30.0,1250.0
Cream Point,1744.0,36.714450,82.385879,0.0,5.0,13.5,36.0,1189.0
Blue Cream,836.0,34.191388,73.141102,0.0,3.0,11.0,35.0,997.0

## Adoptable Cats

In [71]:
directory = os.path.join('cat', DATE_STR, 'adoptable')
adoptable_cats = preprocess_cats_data(
    data_type = 'adoptable',
    directory=directory,
    file_name='all_adoptable_cats.csv',
    output_file_name='processed_adoptable_cats.csv'
)

Starting preprocessing of 'adoptable' cat data ₍^. .^₎⟆ ...

✓ Data loaded successfully from cat/2025-08-11/adoptable/all_adoptable_cats.csv. Shape: (81057, 45)
✓ Date columns converted successfully.
✓ `days_in_shelter` column calculated successfully.
✓ Drop samples with negative `days_in_shelter` value, data shape: (81057, 49)
✓ Coat length (short, medium, long, medium) successfully imputed from primary breed column.
✓ Replace null values with 'Unknown' to capture missing info provided on listing by publisher.
✓ Color categories standardized successfully considering primary, secondary and tertiary colors.
✓ 4157/30557 cats without colour initially have been imputed.
✓ Final color column derived from cleaned and imputed colours successfully.
✓ Broader colour categories created from final color successfully.
✓ Dropped unnecessary columns - 'type', 'species', 'distance', 'color_str'.
✓ Processed data saved successfully to: cat/2025-08-11/adoptable/processed_adoptable_cats.csv.

Preprocessing completed  ദ്ദി(˵ •̀ ᴗ - ˵ ) ✧

------------ Colour Imputer Test Results ------------
{
    "overall_accuracy": 0.5684210526315789,
    "total_tested": 25250,
    "total_predicted": 4370,
    "method_accuracies": {
        "description": 0.5684210526315789
    },
    "color_accuracies": {
        "Brown / Chocolate": 0.03937007874015748,
        "Tortoiseshell": 0.8121546961325967,
        "Black": 0.7946666666666666,
        "Tabby (Orange / Red)": 0.4576271186440678,
        "Gray & White": 0.3650190114068441,
        "Tabby (Buff / Tan / Fawn)": 0.028985507246376812,
        "Calico": 0.7942386831275721,
        "Black & White / Tuxedo": 0.7717528373266078,
        "Orange / Red": 0.44,
        "Tabby (Brown / Chocolate)": 0.3774193548387097,
        "Gray / Blue / Silver": 0.520891364902507,
        "Tabby (Gray / Blue / Silver)": 0.5341365461847389,
        "Orange & White": 0.32978723404255317,
        "Dilute Tortoiseshell": 0.4166666666666667,
        "Brown & White": 0.0,
        "Smoke": 0.0,
        "Dilute Calico": 0.4696969696969697,
        "Seal Point": 0.75,
        "Blue Point": 0.125,
        "Tabby (Tiger Striped)": 0.12903225806451613,
        "White": 0.47560975609756095,
        "Flame Point": 0.9090909090909091,
        "Buff / Tan / Fawn": 0.3064516129032258,
        "Torbie": 0.5344827586206896,
        "Buff & White": 0.05,
        "Cream Point": 0.25,
        "Cream / Ivory": 0.16666666666666666,
        "Lilac Point": 0.3333333333333333,
        "Chocolate Point": 0.5,
        "Tabby (Leopard / Spotted)": 0.3333333333333333,
        "Blue Cream": 0.0
    }
}

------------  Colour Distribution Comparison ------------
Color Distribution Comparison: colors_primary vs Cleaned vs After Imputation
========================================================================================================================
Color                          Original Count  Original %   Cleaned Count   Cleaned %    Final Count (after impute) Final %
------------------------------------------------------------------------------------------------------------------------
Unknown                        0               0.0          0               0.0          26400                     32.6
Black                          10898           21.6         8516            16.9         9066                      11.2
Black & White / Tuxedo         5880            11.7         8361            16.6         8970                      11.1
Gray / Blue / Silver           5416            10.7         4502            8.9          4817                      5.9
Tabby (Brown / Chocolate)      4142            8.2          4429            8.8          4792                      5.9
Gray & White                   2667            5.3          3528            7.0          3657                      4.5
Brown / Chocolate              3868            7.7          3223            6.4          3285                      4.1
Tabby (Gray / Blue / Silver)   2229            4.4          2593            5.1          2860                      3.5
Calico                         1814            3.6          1937            3.8          2256                      2.8
Orange / Red                   2420            4.8          1929            3.8          2152                      2.7
Orange & White                 1599            3.2          1977            3.9          2092                      2.6
Tortoiseshell                  1504            3.0          1548            3.1          1859                      2.3
Tabby (Orange / Red)           1091            2.2          1356            2.7          1653                      2.0
White                          2462            4.9          1014            2.0          1270                      1.6
Tabby (Buff / Tan / Fawn)      997             2.0          1082            2.1          1104                      1.4
Brown & White                  0               0.0          792             1.6          792                       1.0
Buff / Tan / Fawn              795             1.6          643             1.3          704                       0.9
Torbie                         567             1.1          619             1.2          660                       0.8
Tabby (Tiger Striped)          557             1.1          620             1.2          632                       0.8
Buff & White                   244             0.5          430             0.9          434                       0.5
Dilute Calico                  332             0.7          381             0.8          429                       0.5
Dilute Tortoiseshell           305             0.6          331             0.7          358                       0.4
Cream / Ivory                  178             0.4          132             0.3          166                       0.2
Flame Point                    102             0.2          112             0.2          128                       0.2
Seal Point                     93              0.2          101             0.2          114                       0.1
Smoke                          48              0.1          68              0.1          95                        0.1
Tabby (Leopard / Spotted)      62              0.1          61              0.1          94                        0.1
Lilac Point                    51              0.1          65              0.1          68                        0.1
Blue Point                     61              0.1          65              0.1          65                        0.1
Chocolate Point                35              0.1          39              0.1          39                        0.0
Cream Point                    18              0.0          25              0.0          25                        0.0
Blue Cream                     30              0.1          21              0.0          21                        0.0

In [72]:
# pre-requisite: adopted_cats
before_count = len(adoptable_cats)
adoptable_cats = adoptable_cats[~adoptable_cats['id'].isin(adopted_cats['id'])].reset_index(drop=True)
print(f'{before_count - len(adoptable_cats)} adoptable records found already been adopted and have been removed.')

directory = os.path.join('cat', DATE_STR, 'adoptable')
adoptable_cats.to_csv(os.path.join(directory, 'processed_adoptable_cats.csv'), index=False)

2630 adoptable records found already been adopted and have been removed.

In [73]:
adoptable_col_metadata = create_metadata_table(adoptable_cats)
display(adoptable_col_metadata)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78427 entries, 0 to 78426
Data columns (total 51 columns):
Memory usage: 189780650 bytes

Detailed Metadata:

,Column,Non-Null Count,Null Count,Dtype,Category,Values/Range
0,id,78427,0,int64,Numerical,"[669469, 77747364]"
1,org_id,78427,0,object,Categorical,3449 unique values
2,url,78427,0,object,Categorical,78427 unique values
3,age,78427,0,object,Categorical,"['Adult', 'Young', 'Baby', 'Senior']"
4,gender,78427,0,object,Categorical,"['Male', 'Female', 'Unknown']"
5,size,78427,0,object,Categorical,"['Medium', 'Small', 'Large', 'Extra Large']"
6,coat,78427,0,object,Categorical,"['Short', 'Medium', 'Unknown', 'Long', 'Hairless']"
7,name,78427,0,object,Categorical,33487 unique values
8,description,60628,17799,object,Categorical,51979 unique values
9,status,78427,0,object,Categorical,['adoptable']
10,status_changed_at,78427,0,"datetime64[ns, UTC]",Datetime,"[2007-03-13 13:59:53+00:00, 2025-08-12 14:37:34+00:00]"
11,published_at,78427,0,"datetime64[ns, UTC]",Datetime,"[2002-03-20 00:00:00+00:00, 2025-08-12 14:37:33+00:00]"
12,breeds_primary,78426,1,object,Categorical,62 unique values
13,breeds_secondary,5676,72751,object,Categorical,"['Domestic Short Hair', 'Calico', 'Tabby', 'Domestic Long Hair', 'Snowshoe', 'Persian', 'Domestic Medium Hair', 'Siamese', 'Russian Blue', 'Birman', 'American Bobtail', 'Manx', 'Tortoiseshell', 'Tuxedo', 'Norwegian Forest Cat', 'Tiger', 'American Shorthair', 'Maine Coon', 'Dilute Tortoiseshell', 'Extra-Toes Cat / Hemingway Polydactyl', 'Abyssinian', 'Egyptian Mau', 'Dilute Calico', 'Bombay', 'Torbie', 'Turkish Van', 'Bengal', 'Turkish Angora', 'Oriental Tabby', 'Ragdoll', 'Himalayan', 'British Shorthair', 'Nebelung', 'Oriental Short Hair', 'Exotic Shorthair', 'Havana', 'Pixiebob', 'Ragamuffin', 'Munchkin', 'Cornish Rex', 'American Wirehair', 'Silver', 'Scottish Fold', 'Japanese Bobtail', 'Oriental Long Hair', 'Devon Rex', 'Korat', 'American Curl', 'Cymric', 'Burmese', 'Siberian']"
14,breeds_mixed,78427,0,bool,Numerical,"[False, True]"
15,breeds_unknown,78427,0,bool,Numerical,"[False, True]"
16,colors_primary,48480,29947,object,Categorical,"['Tabby (Brown / Chocolate)', 'White', 'Orange & White', 'Black & White / Tuxedo', 'Buff / Tan / Fawn', 'Tabby (Orange / Red)', 'Tabby (Buff / Tan / Fawn)', 'Blue Point', 'Black', 'Gray & White', 'Tabby (Leopard / Spotted)', 'Lilac Point', 'Tabby (Gray / Blue / Silver)', 'Tabby (Tiger Striped)', 'Tortoiseshell', 'Brown / Chocolate', 'Gray / Blue / Silver', 'Calico', 'Chocolate Point', 'Orange / Red', 'Smoke', 'Seal Point', 'Buff & White', 'Flame Point', 'Torbie', 'Dilute Tortoiseshell', 'Cream / Ivory', 'Dilute Calico', 'Blue Cream', 'Cream Point']"
17,colors_secondary,11079,67348,object,Categorical,"['Calico', 'White', 'Buff & White', 'Tabby (Orange / Red)', 'Tabby (Gray / Blue / Silver)', 'Tabby (Brown / Chocolate)', 'Gray / Blue / Silver', 'Buff / Tan / Fawn', 'Blue Point', 'Orange & White', 'Tabby (Buff / Tan / Fawn)', 'Black', 'Orange / Red', 'Tabby (Tiger Striped)', 'Dilute Tortoiseshell', 'Brown / Chocolate', 'Cream / Ivory', 'Gray & White', 'Tortoiseshell', 'Dilute Calico', 'Flame Point', 'Black & White / Tuxedo', 'Torbie', 'Lilac Point', 'Seal Point', 'Tabby (Leopard / Spotted)', 'Blue Cream', 'Smoke', 'Chocolate Point', 'Cream Point']"
18,colors_tertiary,1446,76981,object,Categorical,"['Tabby (Buff / Tan / Fawn)', 'Tabby (Gray / Blue / Silver)', 'Tabby (Tiger Striped)', 'Orange & White', 'Gray / Blue / Silver', 'Buff / Tan / Fawn', 'Calico', 'Tabby (Brown / Chocolate)', 'White', 'Tabby (Orange / Red)', 'Black & White / Tuxedo', 'Smoke', 'Brown / Chocolate', 'Dilute Tortoiseshell', 'Black', 'Orange / Red', 'Buff & White', 'Gray & White', 'Lilac Point', 'Torbie', 'Chocolate Point', 'Blue Point', 'Tortoiseshell', 'Cream Point', 'Cream / Ivory', 'Dilute Calico', 'Tabby (Leopard / Spotted)', 'Flame Point', 'Blue Cream', 'Seal Point']"
19,spayed_neutered,78427,0,bool,Numerical,"[False, True]"
20,house_trained,78427,0,bool,Numerical,"[False, True]"
21,declawed,78427,0,bool,Numerical,"[False, True]"
22,special_needs,78427,0,bool,Numerical,"[False, True]"
23,shots_current,78427,0,bool,Numerical,"[False, True]"
24,env_children,78427,0,object,Categorical,"['Unknown', True, False]"
25,env_dogs,78427,0,object,Categorical,"['Unknown', True, False]"
26,env_cats,78427,0,object,Categorical,"['Unknown', True, False]"
27,contact_email,75761,2666,object,Categorical,3695 unique values
28,contact_phone,58742,19685,object,Categorical,2711 unique values
29,contact_address1,41262,37165,object,Categorical,1548 unique values
30,contact_address2,4764,73663,object,Categorical,209 unique values
31,contact_city,78427,0,object,Categorical,2042 unique values
32,contact_state,78427,0,object,Categorical,"['CA', 'NV', 'MO', 'MN', 'WI', 'OR', 'AZ', 'WY', 'ME', 'NB', 'MA', 'NY', 'RI', 'CT', 'NH', 'VT', 'VA', 'PA', 'MD', 'WV', 'DC', 'NJ', 'DE', 'NC', 'IL', 'IN', 'SD', 'QC', 'SC', 'GA', 'UT', 'WA', 'TN', 'AL', 'KY', 'OK', 'IA', 'MI', 'NM', 'AK', 'HI', 'LA', 'FL', 'MS', 'KS', 'OH', 'ID', 'MT', 'TX', 'CO', 'AR', 'NE', 'ND']"
33,contact_postcode,78427,0,object,Categorical,3321 unique values
34,contact_country,78427,0,object,Categorical,"['US', 'CA']"
35,photo_count,78427,0,int64,Numerical,"[0, 12]"
36,photo,73270,5157,object,Categorical,73270 unique values
37,primary_photo_cropped,72441,5986,object,Categorical,72441 unique values
38,tags,28213,50214,object,Categorical,14530 unique values
39,stateQ,78427,0,object,Categorical,62 unique values
40,accessed,78427,0,object,Categorical,2032 unique values
41,stateQ_grouped,78427,0,object,Categorical,"['NV', 'MO', 'MN', 'OR', 'WY', 'ME', 'RI', 'MD', 'VA', 'IL', 'NJ', 'CA', 'SD', 'CT', 'VT', 'PA', 'SC', 'WA', 'NY', 'TN', 'OK', 'IA', 'MI', 'NM', 'AZ', 'AK', 'HI', 'LA', 'FL', 'MS', 'DE', 'KS', 'IN', 'NH', 'ID', 'KY', 'GA', 'NC', 'DC', 'MA', 'TX', 'WV', 'CO', 'AR', 'NE', 'ND', 'AL', 'MT', 'OH', 'WI', 'UT']"
42,published_year,78427,0,int32,Numerical,"[2002, 2025]"
43,accessed_utc,78427,0,"datetime64[ns, UTC]",Datetime,"[2025-08-02 23:59:59+00:00, 2025-08-12 14:45:01.223228+00:00]"
44,adopted_year,78427,0,int32,Numerical,"[2007, 2025]"
45,days_in_shelter,78427,0,int64,Numerical,"[0, 8537]"
46,is_character_provided,78427,0,bool,Numerical,"[False, True]"
47,cleaned_color,48515,29912,object,Categorical,"['Tabby (Brown / Chocolate)', 'Calico', 'Orange & White', 'Black & White / Tuxedo', 'Buff / Tan / Fawn', 'Tabby (Orange / Red)', 'Tabby (Buff / Tan / Fawn)', 'Blue Point', 'Black', 'Gray & White', 'Tabby (Leopard / Spotted)', 'Buff & White', 'Tabby (Gray / Blue / Silver)', 'Lilac Point', 'Tabby (Tiger Striped)', 'Tortoiseshell', 'Brown / Chocolate', 'Gray / Blue / Silver', 'Chocolate Point', 'Brown & White', 'Orange / Red', 'Smoke', 'Seal Point', 'Flame Point', 'Torbie', 'White', 'Dilute Tortoiseshell', 'Cream / Ivory', 'Dilute Calico', 'Blue Cream', 'Cream Point']"
48,imputed_color,52560,25867,object,Categorical,"['Gray & White', 'Gray / Blue / Silver', 'White', 'Black', 'Tabby (Brown / Chocolate)', 'Calico', 'Orange & White', 'Black & White / Tuxedo', 'Buff / Tan / Fawn', 'Tabby (Orange / Red)', 'Tabby (Buff / Tan / Fawn)', 'Blue Point', 'Tabby (Leopard / Spotted)', 'Buff & White', 'Tabby (Gray / Blue / Silver)', 'Lilac Point', 'Tabby (Tiger Striped)', 'Tortoiseshell', 'Brown / Chocolate', 'Chocolate Point', 'Brown & White', 'Orange / Red', 'Smoke', 'Seal Point', 'Cream / Ivory', 'Flame Point', 'Torbie', 'Dilute Tortoiseshell', 'Dilute Calico', 'Blue Cream', 'Cream Point']"
49,color,78427,0,object,Categorical,"['Unknown', 'Gray & White', 'Gray / Blue / Silver', 'White', 'Black', 'Tabby (Brown / Chocolate)', 'Calico', 'Orange & White', 'Black & White / Tuxedo', 'Buff / Tan / Fawn', 'Tabby (Orange / Red)', 'Tabby (Buff / Tan / Fawn)', 'Blue Point', 'Tabby (Leopard / Spotted)', 'Buff & White', 'Tabby (Gray / Blue / Silver)', 'Lilac Point', 'Tabby (Tiger Striped)', 'Tortoiseshell', 'Brown / Chocolate', 'Chocolate Point', 'Brown & White', 'Orange / Red', 'Smoke', 'Seal Point', 'Cream / Ivory', 'Flame Point', 'Torbie', 'Dilute Tortoiseshell', 'Dilute Calico', 'Blue Cream', 'Cream Point']"
50,color_category,78427,0,object,Categorical,"['Unknown', 'Gray / Blue / Silver', 'White / Cream', 'Black', 'Brown / Chocolate', 'Calico / Tortie', 'Orange / Red', 'Point Colors', 'Special Patterns']"

In [74]:
adoptable_cats.groupby('color_category')['days_in_shelter'].describe().sort_values(by='count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
color_category,,,,,,,,
Unknown,25867.0,148.496811,374.559290,0.0,9.0,31.0,109.0,7414.0
Black,17400.0,197.673908,437.666634,0.0,14.0,45.0,180.0,8234.0
Gray / Blue / Silver,11024.0,190.769503,435.377002,0.0,13.0,43.0,173.0,7864.0
Brown / Chocolate,8567.0,184.405276,416.370764,0.0,14.0,43.0,167.5,5904.0
Orange / Red,5652.0,187.575195,492.970881,0.0,11.0,38.0,139.0,8537.0
Calico / Tortie,5306.0,209.493027,455.750109,0.0,14.0,47.0,188.0,6538.0
White / Cream,3512.0,202.302961,436.989923,0.0,13.0,43.0,183.0,8418.0
Special Patterns,703.0,508.631579,870.593255,0.0,26.5,94.0,649.5,4926.0
Point Colors,396.0,132.118687,236.805627,0.0,9.0,32.5,148.0,1574.0

In [77]:
adoptable_cats.groupby('color')['days_in_shelter'].describe().sort_values(by='count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
color,,,,,,,,
Unknown,25867.0,148.496811,374.559290,0.0,9.00,31.0,109.00,7414.0
Black,8786.0,159.221261,371.081003,0.0,12.00,37.0,134.00,7725.0
Black & White / Tuxedo,8614.0,236.894358,493.410540,0.0,17.00,54.0,230.00,8234.0
Gray / Blue / Silver,4687.0,134.492213,329.749903,0.0,10.00,34.0,115.00,7864.0
Tabby (Brown / Chocolate),4530.0,239.315673,491.554660,0.0,20.00,59.0,237.00,5668.0
Gray & White,3530.0,214.914731,476.819504,0.0,16.00,54.0,205.50,6170.0
Brown / Chocolate,3256.0,118.011671,283.940954,0.0,10.00,30.0,93.25,4991.0
Tabby (Gray / Blue / Silver),2694.0,254.922049,513.002746,0.0,18.00,58.0,271.00,6139.0
Calico,2165.0,206.157506,502.291634,0.0,12.00,45.0,176.00,6538.0
Orange / Red,2100.0,144.107619,397.388888,0.0,9.00,31.0,97.00,5685.0
Orange & White,2004.0,192.978044,473.532994,0.0,13.00,44.5,170.00,8537.0
Tortoiseshell,1779.0,186.941540,406.391355,0.0,15.00,44.0,171.00,4570.0
Tabby (Orange / Red),1548.0,239.548450,614.672169,0.0,12.00,43.0,169.25,5320.0
White,1235.0,177.651012,421.255446,0.0,10.00,39.0,125.50,4585.0
Tabby (Buff / Tan / Fawn),1029.0,247.074830,392.204439,0.0,22.00,70.0,311.00,4307.0
Brown & White,781.0,142.706786,356.121648,0.0,9.00,30.0,99.00,5904.0
Buff / Tan / Fawn,681.0,192.729809,560.703634,0.0,8.00,33.0,148.00,8418.0
Torbie,629.0,221.014308,419.063068,0.0,16.00,46.0,237.00,4298.0
Tabby (Tiger Striped),613.0,533.096248,893.283404,1.0,29.00,110.0,685.00,4926.0
Buff & White,408.0,209.024510,410.235516,0.0,11.00,42.0,197.00,3576.0
Dilute Calico,397.0,276.403023,482.803590,0.0,22.00,73.0,307.00,4570.0
Dilute Tortoiseshell,336.0,249.761905,410.133910,0.0,18.00,72.0,289.00,2931.0
Cream / Ivory,159.0,127.786164,214.836982,0.0,9.00,27.0,132.00,1014.0
Flame Point,119.0,92.680672,164.737024,0.0,7.00,32.0,96.50,995.0
Seal Point,99.0,99.898990,192.696202,0.0,9.00,26.0,107.50,1082.0
Smoke,92.0,271.445652,660.392314,0.0,10.00,28.5,143.75,4358.0
Tabby (Leopard / Spotted),90.0,342.000000,677.522320,0.0,18.50,52.0,338.25,4149.0
Blue Point,62.0,179.322581,247.701087,0.0,19.25,76.5,262.75,1238.0
Lilac Point,59.0,132.457627,214.866945,0.0,7.00,21.0,120.50,991.0
Chocolate Point,33.0,118.363636,242.831065,0.0,9.00,30.0,143.00,1299.0
Cream Point,24.0,356.708333,482.697536,2.0,26.25,91.5,667.00,1574.0
Blue Cream,21.0,109.333333,147.240393,1.0,23.00,60.0,130.00,616.0

In [78]:
combined_df = pd.concat([adopted_cats, adoptable_cats], axis=0)
combined_df.to_csv('adopted_and_adoptable_cats.csv', index=False)